* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.wrapper {
  position: relative;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  transition: left 0.2s linear;
}

.btn {
  position: absolute;
  top: 50%;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 60px;
  font-weight: 500;
  padding: 1px 8px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.7);
  transform: translateY(-50%);
  z-index: 30;
  opacity: 0;
  transition: 0.2s;
}
.wrapper:hover > .btn {
  opacity: 1;
}

.btn:hover {
  opacity: 1;
}

.prevBtn {
  left: 15px;
}

.nextBtn {
  right: 15px;
}
li {
  position: relative;
  top: 0;
  left: 0;
}

ul::-webkit-scrollbar {
  display: none;
}
